generated-docs/

build
app

*.a
*.tar.br
*.tar.gz

host/libhost.h

.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc